/* Start Variables */
:root {
  --main-color: #1abc9c;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */

/* Start Slider */

/* End Slider */

/* Slider */
.navbar {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  color: #fff;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar ul li {
  position: relative;
  margin-left: 20px;
  padding-bottom: 10px;
}
.navbar ul li:hover:before,
.navbar ul li a.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
}
.navbar ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  background-color: #848484;
}
.navbar ul li a:hover,
.navbar ul li a.active {
  cursor: pointer;
  color: var(--main-color);
}

/* Dropdown list */
.links {
  display: none;
}
.links .button {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.links .button span {
  height: 2px;
  background-color: #848484;
  display: block;
  width: 100%;
}
.links .button span:not(:last-of-type) {
  margin-bottom: 6px;
}
.links .button span:nth-of-type(2) {
  width: 50%;
  transition: var(--main-duration);
}
.links .button:hover span:nth-of-type(2) {
  width: 100%;
}
.links .dropdown-list {
  position: relative;
  display: none;
}
.links:hover .dropdown-list {
  display: block;
}
.links .dropdown-list::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #848484 transparent transparent transparent;
  position: absolute;
  bottom: -21px;
  left: 5.2px;
}
.links .dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -25px;
  top: 15px;
  width: 80px;
  display: block;
}
.links .dropdown-list ul li {
  background-color: transparent;
  color: #333;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.links .dropdown-list ul li:hover {
  cursor: pointer;
}
.links .dropdown-list ul li a {
  text-decoration: none;
}
/* Dropdown list */

.splide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imgs/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.splide:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
.splide .splide__track {
  z-index: 1;
}
.splide__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}
.splide__arrows button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #5b5b5b;
  border: none;
}
.splide__arrows button:first-of-type {
  transform: rotateY(180deg);
}
.splide__arrows button:hover {
  background-color: #6f6a6a;
}
.splide__arrows button svg {
  width: 20px;
  fill: #fff;
}
.splide__slide .slide-content {
  text-align: center;
  z-index: 0;
  color: #fff;
}
.splide__slide .slide-content h1 {
  font-size: 50px;
  font-weight: 900;
}
.splide__slide .slide-content h1 span {
  color: var(--main-color);
}
.splide__slide .slide-content p {
  font-size: 20px;
}
.splide__pagination {
  display: none;
}
/* Slider */

/* Media */
@media screen and (max-width: 767px) {
  .navbar ul {
    display: none;
  }
  .links {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Media */

/* Start Link */
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
/* End Link */
