* {
  font-family: Arial, Tahoma;
  font-size: 1vw;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 3000px;
}
p {
  margin-bottom: 50%;
  width: 30px;
  color: #fff;
  background-color: #b00;
  border: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.go-up {
  width: 30px;
  color: #fff;
  background-color: #b00;
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-decoration: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
