* {
  font-family: Arial, Tahoma;
  box-sizing: border-box;
}
.container {
  margin: 5% auto;
  width: 100%;
  background-color: #fff;
  padding: 0.2%;
  border: 1px solid #20bfa9;
}
.container .box-container {
  background-color: #20bfa9;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.container .box-container::before {
  content: '';
  height: 345px;
  width: 2px;
  background-color: #fff;
  position: absolute;
}
.container .box-container::after {
  content: 'OR';
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #20bfa9;
  position: absolute;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container .box-container .box {
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  color: #fff;
  margin: 5%;
  height: 345px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    top,
    #000,
    #000 40%,
    transparent 0%,
    transparent 0%
  );
  background-image: -webkit-linear-gradient(
    top,
    #000,
    #000 40%,
    transparent 0%,
    transparent 0%
  );
}
.container .box-container .box h2 span {
  color: #4cae50;
}
.container .box-container .box .card {
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 20%;
  border-radius: 10px;
  width: 80%;
  height: 240px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
}
.container .box-container .box .card ul {
  margin: 0;
  padding: 0;
  width: 80%;
}
.container .box-container .box .card ul li {
  text-align: left;
  list-style: none;
  line-height: 1.8;
  position: relative;
  margin-left: 10%;
}
.container .box-container .box .card ul li:not(:last-of-type)::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f73859;
  position: absolute;
  top: 9px;
  left: -19px;
}
.container .box-container .box .card ul li:last-of-type {
  background-color: #f73859;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 80%;
  margin: 20px auto 30px;
}
/* @media only screen and (max-width: 552px) {
  .container .box-container .box .card ul li {
    font-size: 13px;
  }
  .container .box-container .box .card ul li:last-of-type {
    padding: 5px 10px;
    font-size: 12px;
  }
  .container .box-container .box .card ul li:not(:last-of-type)::before {
    height: 7px;
    width: 7px;
    top: 5px;
  }
  .container .box-container .box .card h3 {
    font-size: 0.8em;
  }
}

@media (min-width: 553px) and (max-width: 828px) {
  .container .box-container .box .card ul li {
    font-size: 14px;
  }
  .container .box-container .box .card ul li:last-of-type {
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px auto 5px;
  }
  .container .box-container .box .card ul li:not(:last-of-type)::before {
    height: 7px;
    width: 7px;
    top: 7px;
  }
  .container .box-container .box .card h3 {
    font-size: 1em;
  }
} */
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
