* {
  font-family: Arial, Tahoma;
  font-size: 1vw;
  box-sizing: border-box;
}
.outline {
  width: 50vw;
  margin: 1% auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.3%;
}
.container {
  width: 100%;
  background-color: #e8f4fc;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
