* {
  font-family: Arial, Tahoma;
  box-sizing: border-box;
  font-size: 2vw;
}
.outline {
  width: 50vw;
  margin: 1% auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.3%;
}
.container {
  width: 100%;
  background-color: #e8f4fc;
  padding: 5%;
  text-align: center;
}
.container table {
  width: 100%;
  margin-bottom: 5%;
}
.container table caption {
  margin-bottom: 5%;
  font-weight: bold;
}
.container table tr {
  margin-bottom: 1%;
}
.container table td {
  background-color: #fff;
  padding: 2%;
  text-align: left;
  width: 85%;
}
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
